<link rel='stylesheet' href='/Content/app.css'/>

<!-- Bottom nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-7 navbar-text">&copy; Copyright 2023. All rights reserved.</h6>
    </nav>
</footer>
