<link rel="stylesheet" href="/Content/app.css" />

<!-- Contact section content -->
<div id="contact-section">
<br>
<br>
<h1>Contact Me</h1>
<br>
<form method="post" action="mailto:rcotabor@my.centennialcollege.ca">
  <label for="myName">First Name:</label>
  <input type="text" name="myName" id="myName">
<br>
<br>
  <label for="myName">Last Name:</label>
  <input type="text" name="myName" id="myName">
<br>
<br>
  <label for="mobile">Phone:</label>
  <input type="tel" name="mobile" id="mobile" >
<br>
<br>
  <label>Email:</label><input name="txtEmail" type="email" required="required" />
  <span lang="en-ca"></span>
<br>
<br>
  <label for="otherComment"> </label>
  <textarea name="otherComment" id="otherComment" rows="4" cols="50" required="none" placeholder="Message"></textarea>
<br>
<br>
<input id="mySubmit" type="submit" value="SUBMIT"><input id="myReset" type="reset" value="RESET">
<br>
<br>
<br>
<br>
<br>
</form>
</div>