<link rel="stylesheet" href="/Content/app.css" />

<!-- Home section content -->
<div id="home-section">
<br>
<br>
  <h1>Welcome to my portfolio website!</h1>
  <br>
  <p>“As a AI-Software Engineer, I am excited to share my skills and experiences with you. 
    Take a look around and feel free to contact me if you have any questions or would like to discuss potential projects. 
    Thank you for visiting!”</p>
<br>
<br>
<br>
<br>
<h1>Mission statement</h1>
<br>
<p>My mission is to create innovative and impactful AI solutions that can solve real-world problems 
  and improve people's lives. I have a passion for learning new technologies and applying them to challenging 
  projects. I have experience in developing AI software for various domains, such as natural language processing, 
  computer vision, recommender systems, and more. I am always looking for opportunities to collaborate with 
  other professionals and share my knowledge and skills. Through this portfolio website, 
  I hope to showcase some of my work and achievements, and connect with potential clients and partners. </p>
  <br>
  <br>
  <button onclick="location.href='/about';">About Me</buttons>
  </div>