<link rel="stylesheet" href="/Content/app.css" />

<!-- Services section content -->
<div id="services-section">
<br>
    <br>
    <h1>Services</h1>
    <br>
    <br>
    <ol>
      <li>
        <h4>Developing and implementing AI algorithms</h4>
        <br>
      <img src="Assets/images/service01.png" alt="service01" class="service-01">
      <br>
      </li>
      <br>
      <br>
      <li>
        <h4>Designing and building AI-powered software applications</h4>
      <br>
      <img src="Assets/images/service02.png" alt="service02" class="service-02">
      </li>
      <br>
      <br>
      <br>
      <br>
      <li>
        <h4>Integrating AI technologies into existing systems</h4>
      <br>
      <img src="Assets/images/service03.png" alt="service03" class="service-03">
      </li>
      <br>
      <br>
      <br>
      <br>
      <li>
        <h4>Analyzing and interpreting data using AI techniques</h4>
      <br>
      <img src="Assets/images/service04.png" alt="service04" class="service-04">
      </li>
      <br>
      <br>
      <br>
      <br>
      <li>
        <h4>Providing technical support and maintenance for AI systems</h4>
      <br>
      <img src="Assets/images/service05.png" alt="service05" class="service-05">
      </li>
    </ol>
</div>