<!--
File name: content.ejs
Student’s Name: Rodolfo Borbon
StudentID: 301288986
Date: June 04, 2023
 -->

<link rel="stylesheet" href="/Content/app.css" />
<!-- Home section content -->
<% if (title == 'Home') { %>
  <br>
  <br>
    <h1>Welcome to my portfolio website!</h1>
    <br>
    <p>“As a AI-Software Engineer, I am excited to share my skills and experiences with you. 
      Take a look around and feel free to contact me if you have any questions or would like to discuss potential projects. 
      Thank you for visiting!”</p>
  <br>
  <br>
  <br>
  <br>
  <h1>Mission statement</h1>
  <br>
  <p>My mission is to create innovative and impactful AI solutions that can solve real-world problems 
    and improve people's lives. I have a passion for learning new technologies and applying them to challenging 
    projects. I have experience in developing AI software for various domains, such as natural language processing, 
    computer vision, recommender systems, and more. I am always looking for opportunities to collaborate with 
    other professionals and share my knowledge and skills. Through this portfolio website, 
    I hope to showcase some of my work and achievements, and connect with potential clients and partners. </p>
    <br>
    <br>
    <button onclick="location.href='/about';">About Me</buttons>

<!-- About Me section content -->
  <% } else if (title == 'About me') { %>
    <br>
    <br>
    <h1>About Me</h1>
    <br>
<img src="Assets/images/Rodolfo.png" alt="rodolfo" class="rodolfo-image">
<br>
<br>
<br>
<p>Hello everyone, my name is Rodolfo Borbon, as an AI-Software Engineer,
    I am passionate about constantly learning and expanding my 
    knowledge in the field of artificial intelligence. In my free time, I enjoy 
    staying active by exercising, playing soccer,and swimming. I also love to spend time outdoors,
    whether it is camping or exploring new places. Currently, I am a student
    at Centennial College in Toronto, where I am furthering my education and persuing 
    my passion for AI. </p>
<br>
<br>
<button onclick="location.href='/Assets/images/Rodolfo_resume.pdf';">Download Resume</buttons>
  <br>

<!-- Projects section content -->
  <% } else if (title == 'Projects') { %>
  <br>
  <br>
    <h1>Projects</h1>
    <br>
    <br>
    <ol>
      <li><h4>Gallery images WebApp</h4></li>
    <br>
    <img src="Assets/images/image_gallery.png" alt="gallery" class="image-gallery">
    <br>
    <p>It is a a website that showcases stunning images from various categories. 
      You can browse through the images and enjoy their beauty and diversity. 
      Each image will be displayed for one minute before switching to the next one. 
      If you want to see a different collection of images, you can click on the 
      update button and refresh the gallery. Image Gallery is a simple and elegant 
      way to discover new and amazing photos every day.</p>
      <br>
      <br>
      <br>
      <li><h4>Real State Agent Web Site</h4></li>
    <br>
    <img src="Assets/images/real_state.png" alt="realState" class="real-state">
    <br>
    <br>
    <p>The Real State Agent Web Site project is a comprehensive and user-friendly platform 
      for real estate agents and their clients. The project includes the following content: 
      a homepage that showcases the agent's profile, services, testimonials, and contact information. 
      Also a property listing page that displays the agent's current and past properties for sale or rent, 
      with filters, maps, and photos. Secondly a property detail page that provides more information about 
      each property, such as features, amenities, floor plans, and virtual tours. Finally a contact page to
    get in contact with the real state agent</p>
      <br>
      <br>
      <br>
      <li><h4>Monster Smashed Game</h4></li>
      <br>
    <img src="Assets/images/monster_game.png" alt="game" class="monster-game">
    <br>
    <p>The bug hops randomly around the game area at a given interval. The player tries to catch the 
      bug by clicking on it. If he succeeds, the score is incremented and the hopping interval is decremented 
      by a number of milliseconds, so it gets harder to catch the bug.
      If the game becomes too challenging, the payer can reset the speed to the initial hopping interval 
      by clicking the Reset Speed button. If the player wants, he can start again by resetting the score 
      by clicking the Reset Score button</p>
      <br>
      <br>
      <br>
      <br>
  </ol>

<!-- Services section content -->
  <% } else if (title == 'Services') { %>
    <br>
    <br>
    <h1>Services</h1>
    <br>
    <br>
    <ol>
      <li><h4>Developing and implementing AI algorithms</h4></li>
      <br>
      <img src="Assets/images/service01.png" alt="service01" class="service-01">
      <br>
      <li><h4>Designing and building AI-powered software applications</h4></li>
      <br>
      <img src="Assets/images/service02.png" alt="service02" class="service-02">
      <br>
      <li><h4>Integrating AI technologies into existing systems</h4></li>
      <br>
      <img src="Assets/images/service03.png" alt="service03" class="service-03">
      <br>
      <li><h4>Analyzing and interpreting data using AI techniques</h4></li>
      <br>
      <img src="Assets/images/service04.png" alt="service04" class="service-04">
      <br>
      <li><h4>Providing technical support and maintenance for AI systems</h4></li>
      <br>
      <img src="Assets/images/service05.png" alt="service05" class="service-05">
      <br>
     </ol>

<!-- Contact section content -->
  <% } else if (title == 'Contact') { %>
    <br>
    <br>
    <h1>Contact Me</h1>
    <br>
    <form method="post" action="mailto:rcotabor@my.centennialcollege.ca">
      <label for="myName">First Name:</label>
      <input type="text" name="myName" id="myName">
    <br>
    <br>
      <label for="myName">Last Name:</label>
      <input type="text" name="myName" id="myName">
    <br>
    <br>
      <label for="mobile">Phone:</label>
      <input type="tel" name="mobile" id="mobile" >
    <br>
    <br>
      <label>Email:</label><input name="txtEmail" type="email" required="required" />
      <span lang="en-ca"></span>
    <br>
    <br>
      <label for="otherComment"> </label>
      <textarea name="otherComment" id="otherComment" rows="4" cols="50" required="none" placeholder="Message"></textarea>
    <br>
    <br>
    <input id="mySubmit" type="submit" value="SUBMIT"><input id="myReset" type="reset" value="RESET">
    <br>
    <br>
    <br>
    <br>
    <br>
  </form>
  <% } %>