<link rel="stylesheet" href="/Content/app.css" />

<!-- Projects section content -->

<div id="projects-section">
    <br>
    <br>
    <h1>Projects</h1>
    <br>
    <br>
    <ol>
      <li>
        <h4>Gallery images WebApp</h4>
        <br>
        <img src="Assets/images/image_gallery.png" alt="gallery" class="image-gallery">
        <br>
        <p>It is a website that showcases stunning images from various categories. 
          You can browse through the images and enjoy their beauty and diversity. 
          Each image will be displayed for one minute before switching to the next one. 
          If you want to see a different collection of images, you can click on the 
          update button and refresh the gallery. Image Gallery is a simple and elegant 
          way to discover new and amazing photos every day.</p>
        <br>
        <br>
      <li>
        <h4>Real State Agent Web Site</h4>
        <br>
        <img src="Assets/images/real_state.png" alt="realState" class="real-state">
        <br>
        <p>The Real State Agent Web Site project is a comprehensive and user-friendly platform 
          for real estate agents and their clients. The project includes the following content: 
          a homepage that showcases the agent's profile, services, testimonials, and contact information. 
          Also a property listing page that displays the agent's current and past properties for sale or rent, 
          with filters, maps, and photos. Secondly a property detail page that provides more information about 
          each property, such as features, amenities, floor plans, and virtual tours. Finally a contact page to
          get in contact with the real estate agent.</p>
        <br>
        <br>
      </li>
      <li>
        <h4>Monster Smashed Game</h4>
        <br>
        <img src="Assets/images/monster_game.png" alt="game" class="monster-game">
        <br>
        <p>The bug hops randomly around the game area at a given interval. The player tries to catch the 
          bug by clicking on it. If he succeeds, the score is incremented and the hopping interval is decremented 
          by a number of milliseconds, so it gets harder to catch the bug.
          If the game becomes too challenging, the player can reset the speed to the initial hopping interval 
          by clicking the Reset Speed button. If the player wants, he can start again by resetting the score 
          by clicking the Reset Score button</p>
        <br>
        <br>
      </li>
    </ol>
  </div>