/*custom css goes here */

/* Style the navigation bar */
.navbar {
    background-color: #1d1d1d;
  }
  .navbar-brand {
    color: #fffdfd;
    font-size: 20em;
    font-weight: bold;
    width: 50px;
    height: 50px;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .nav-link {
    color: #7d7f8d;
  } 
  /* Style the active navigation item */
  .nav-item.active .nav-link {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  /* Style the logo image */
  .navbar-logo {
    width: 60px;
    height: 60px;
    margin-left: 25px;
  }


  
  /* Style the bottom navigation bar */
footer {
    background-color: #343a40;
  }
  
  .navbar {
    padding: 20px;
  }
  
  .navbar-text {
    color: #ffffff;
    margin-left: 555px;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 78px;
    color: #1a2c48;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #1a2c48;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bcbaba;
    color: #010101;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 26px;
  }
  
  img {
    max-width: 100%;
  }
  
  /* Home section */
  h1,
  p {
    text-align: center;
  }
  
  /* About Me section */
  .rodolfo-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
  }
  
  /* Projects section */
  .image-gallery,
  .real-state,
  .monster-game {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  
  /* Services section */
  .service-01,
  .service-02,
  .service-03,
  .service-04,
  .service-05 {
    display: block;
    margin: 60px;
    width: 20%;
    height: 20%;
  }
  
  /* Contact section */
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #999b9f;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #193b5f;
  }