/*
File name: app.css 
Student’s Name: Rodolfo Borbon
StudentID: 301288986
Date: June 04, 2023
 */

/* Style the navigation bar */
.navbar {
    background-color: #000000;
  }
  .navbar-brand {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    width: 50px;
    height: 50px;
  }
  .navbar-nav {
    margin-left: auto;
    margin-bottom: 0em;
    margin-top: 1%;
  }
  .nav-link {
    color: #7d7f8d;
  } 
  /* Style the active navigation item */
  .nav-item.active .nav-link {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  /* Style the logo image */
  .navbar-logo {
    width: 4%;
    height: 4%;
    margin-left: 25px;
  }


  
  